body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2 {
    color: #ffffff;
    margin-top: 20px;
    background-color: #E564B9;
    padding: 15px 0;
    word-break: keep-all;
}
h5 {
    color: #333;
    margin-top: 10px;
    word-break: keep-all;
}

h6 {
    color: #c44e4e;
    font-size: 18px;
    margin-top: 10px;
    word-break: keep-all;
}

#currentTime {
    font-size: 18px;
    margin-bottom: 20px;
    color: #666;
}
#timetableButton {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #E564B9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    white-space: nowrap;
}

.container {
    max-width: 1200px; /* 최대 컨테이너 너비 (PC) */
    margin: 0 auto;   /* 가운데 정렬 */
    padding: 0 20px;   /* 좌우 여백 */
    background-color: #f5f5f5; /* 이 부분을 추가하여 그레이 배경을 .container에 적용 */
    word-wrap: break-word;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 12px;
    position: relative;
    word-break: keep-all;
}
th {
    background-color: #f2f2f2;
}
td {
    background-color: #fff;
}
.disclaimer {
    font-size: 15px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 40px;
    word-break: keep-all;
}

#notice {
    border: 1px solid #E564B9;
    background-color: #f3dbeb;
    color: #a33b80;
    padding: 10px;
    border-radius: 10px;
    display: none;
    margin-bottom: 20px;
    text-align: left;
    word-break: keep-all;
}

#notice > details {
    transition: background-color 500ms ease 0s;
}

summary::marker {
    content: "▶ 공지사항 펼치기";
}

details[open] summary::marker {
    content: "️▼ 공지사항 접기";
}

#notice-text {
    font-size: 20px;
    margin-bottom: 10px;
}

#notice-text > hr {
    background-color: #E564B9;
    height: 1px;
    border: 0;
}

#notice-list {
    margin-top: 5px;
}

#notice-list > ul {
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px; /* 모바일에서 좌우 여백 줄이기 */
    }
    table {
        width: 100%;
    }
    #currentTime {
        position: relative; /* 시계의 위치를 상대적으로 설정하여 버튼을 쌓을 수 있도록 함 */
        margin-bottom: 10px; /* 버튼과의 간격 조정 */
    }
    .button-container {
        flex-direction: column; /* 버튼을 세로로 배치 */
        align-items: center; /* 버튼을 가운데 정렬 */
    }
    /* 모바일에서 시계와 버튼을 한 줄에 배치하고 버튼을 아래로 이동 */
    #currentTime,
    #timetableButton {
        display: inline-flex;
        margin: 10px auto;
    }
}

/* 추가 스타일: 요일별 노선 가리기 */
.inactive {
    opacity: 0.5;
}
/* 추가 스타일: 흐린 느낌 주기 */
tr.inactive td {
    background-color: #ddd; /* 흐린 회색 */
    opacity: 0.7; /* 투명도 조절 */
}
tr.inactive.black td {
    background-color: #ddd; /* 흐린 검은색 */
}